@model PriorityManager.ViewModels.EmployeePriority

@{
    ViewBag.Title = "Add Priority";
}
<script src="@Url.Content("~/Scripts/jquery-1.12.3.js")"></script>
<script src="@Url.Content("~/Scripts/ui/jquery-ui.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Styles/jquery-ui.css")"></link>
<link rel="stylesheet" href="@Url.Content("~/Styles/theme.css")"></link>
<style type="text/css">

.hide
{
    display:none;   
}

</style>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#EnteredBy').val('@Session["empid"]');
        $('#AssignedBy').val('@Session["empid"]');
        $('#EmployeeName').prop('readonly', true);
        $('#Priority').prop('readonly', true);
        $("#DevDueDate").datepicker({
            showOn: "button",
            buttonImage: "../images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true
        });
        $("#QADueDate").datepicker({
            showOn: "button",
            buttonImage: "../images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true
        });
    });

</script>

<h2>Add Priority</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Priority</legend>

        <div>
            <table>
                <tr class="hide">
                    <td>@Html.LabelFor(model => model.EmployeeID)</td>
                    <td>
                        @Html.EditorFor(model => model.EmployeeID)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.EmployeeName)</td>
                    <td>
                        @Html.EditorFor(model => model.EmployeeName)
                        @Html.ValidationMessageFor(model => model.EmployeeName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.IssueNumber)</td>
                    <td>
                        @Html.EditorFor(model => model.IssueNumber)
                        @Html.ValidationMessageFor(model => model.IssueNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.IssueSubject)</td>
                    <td>
                        @Html.EditorFor(model => model.IssueSubject)
                        @Html.ValidationMessageFor(model => model.IssueSubject)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Status)</td>
                    <td>
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Completed)</td>
                    <td>
                        @Html.EditorFor(model => model.Completed)
                        @Html.ValidationMessageFor(model => model.Completed)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DevDueDate)</td>
                    <td>
                        @Html.EditorFor(model => model.DevDueDate)
                        @Html.ValidationMessageFor(model => model.DevDueDate)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.QADueDate)</td>
                    <td>
                        @Html.EditorFor(model => model.QADueDate)
                        @Html.ValidationMessageFor(model => model.QADueDate)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Priority)</td>
                    <td>
                        @Html.EditorFor(model => model.Priority)
                        @Html.ValidationMessageFor(model => model.Priority)
                    </td>
                </tr>
                <tr class="hide">
                    <td>@Html.LabelFor(model => model.EnteredBy)</td>
                    <td>
                        @Html.EditorFor(model => model.EnteredBy)
                        @Html.ValidationMessageFor(model => model.EnteredBy)
                    </td>
                </tr>
                <tr class="hide">
                    <td>@Html.LabelFor(model => model.AssignedBy)</td>
                    <td>
                        @Html.EditorFor(model => model.AssignedBy)
                        @Html.ValidationMessageFor(model => model.AssignedBy)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Create" />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "DisplayPriority", "EmployeePriority", new { @empId = Model.EmployeeID },null)
</div>


