@model PriorityManager.ViewModels.EmployeePriority

@{
    ViewBag.Title = "Display Priority";
}


<script src="@Url.Content("~/Scripts/jquery-1.12.3.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.mouse.js")"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.button.js")"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.draggable.js")"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.position.js")"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.dialog.js")"></script>

<link rel="stylesheet" href="@Url.Content("~/Styles/themes/base/jquery.ui.all.css")"></link>
<link rel="stylesheet" href="@Url.Content("~/Styles/demos/demos.css")"></link>

<link rel="stylesheet" href="@Url.Content("~/Styles/jquery.dataTables.css")"></link>
<link rel="stylesheet" href="@Url.Content("~/Styles/theme.css")"></link>

<style type="text/css">

th
{
    text-align:left;   
}

a.editbutton
{
    background: url(../images/edit_16.png) no-repeat top left;
    display: block;
    width:16px;
    height:16px;
    text-indent: -9999px; /* hides the link text */
}

a.viewbutton
{
    background: url(../images/View.png) no-repeat top left;
    display: block;
    width:16px;
    height:16px;
    text-indent: -9999px; /* hides the link text */
}

a.addbutton
{
    background: url(../images/addPriority.png) no-repeat top left;
    display: block;
    width:24px;
    height:24px;
    text-indent: -9999px; /* hides the link text */
}

.deletebutton
{
    background: url(../images/delete_16.png) no-repeat top left;
    display: block;
    cursor:pointer;
    width:16px;
    height:16px;
}

.assignbutton
{
    background: url(../images/assignPriority.png) no-repeat top left;
    display: block;
    cursor:pointer;
    width:16px;
    height:16px;
}

.upArrow
{
    background: url(../images/uparrow_16.png) no-repeat top left;
    display: block;
    cursor:pointer;
    width:16px;
    height:16px;
}

.downArrow
{
    background: url(../images/downarrow_16.png) no-repeat top left;
    display: block;
    cursor:pointer;
    width:16px;
    height:16px;
}

.disableupArrow
{
    background: url(../images/uparrow_16_disabled.png) no-repeat top left;
    display: block;
    cursor:pointer;
    width:16px;
    height:16px;
}

.disabledownArrow
{
    background: url(../images/downarrow_16_disabled.png) no-repeat top left;
    display: block;
    cursor:pointer;
    width:16px;
    height:16px;
}

.disabledaddbutton 
{
    background: url(../images/addPriority.png) no-repeat top left;
    display: block;
    width:24px;
    height:24px;
    text-indent: -9999px; /* hides the link text */
    pointer-events: none;
    opacity: 0.3;
}

select,input,textarea{
    width:250px;
    border-radius:4px;
}

textarea{
    height:140px;
}

</style>

<script type="text/javascript">
    var columns = { "EMPNAME": 0,
                    "PRIORITY": 1,
                    "ISSUENO": 2,
                    "SUBJECT": 3,
                    "STATUS": 4,
                    "DEVDUE": 5,
                    "QADUE": 6,
                    "VIEW": 7,
                    "DECREASE": 8,
                    "INCREASE": 9,
                    "EDIT": 10,
                    "ASSIGN": 11,
                    "DELETE":12
                  };
    //This block will be executed when the page is loaded. If employee id is passed it will display the priority for that employee in the grid.
    $(document).ready(function ()
    {
        var empId = '@Model.SelectedEMPID';
        if (empId == "")
        {
            clearDataTable();
        }
        else
        {
            $('#Employees').val(empId);
            getEmployeePriority(empId);
        }

        $("#dlgAssignPriority").dialog({
            autoOpen: false,
            height: 380,
            width: 400,
            modal: true,
            buttons: {
                "Assign": function () {
                    var bValid = true;
                    var assignTo = $('#AssignTo').val();
                    if (assignTo == "")
                    {
                        bValid = false;
                        $('#errorMessage').text("Please select an employee to assign priority!");
                    }
                    if (bValid)
                    {
                        var empId = $("#Employees").val();
                        var pid = $("#txtAssignPID").val();
                        var status = $("#txtAssignStatus").val();
                        var reason = $("#txtAssignReason").val();
                        $.ajax({
                            type: "POST",
                            url: "/EmployeePriority/AssignPriority",
                            data: { 'empId': empId, 'assignedBy': 'test', 'assignTo': assignTo, 'pid': pid, 'status': status, 'reason': reason },
                            dataType: "json",
                            success: successFunc,
                            error: errorFunc
                        });
                        $(this).dialog("close");
                    }

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }

        });
    });

    function clearDataTable()
    {
        $('#tblEmpPriority').DataTable({
                destroy: true,
                scrollY:250,
                columns: [
                            { "searchable": false,
                              "sortable": false,
                              "width": "150px"
                            },
                            { "searchable": false,
                              "sortable": false
                            },
                            { "searchable": false,
                              "sortable": false
                            },
                            { "searchable": false,
                              "sortable": false,
                              "width": "150px"
                            },
                            { "searchable": false,
                              "sortable": false
                            },
                            { "searchable": false,
                              "sortable": false
                            },
                            {
                               "searchable": false,
                               "sortable": false
                            },
                            {
                               "searchable": false,
                               "sortable": false
                            },
                            {
                               "searchable": false,
                               "sortable": false
                            },
                            {
                               "searchable": false,
                               "sortable": false
                            },
                            {
                                "searchable": false,
                                "sortable": false
                            },
                            {
                                "searchable": false,
                                "sortable": false
                            },
                            {
                                "searchable": false,
                                "sortable": false
                            }
                    ]
           });
    }

    //This function is executed when we select a employee from dropdown to populate the priority list.
    function getEmployeePriority(empId)
    {
        //+ if no employee/all employees is selected Add Priority icon will be disabled.
        if ((empId == "") || (empId == -1))
        {
            $('#addPriority').prop("class", "disabledaddbutton");
            empId = (empId == "")? 0 : empId;
        }
        else
        {
            $('#addPriority').prop("class", "addbutton");
            $('#addPriority').attr("href", "/EmployeePriority/AddPriority?empId=" + empId);
        }

        //- if no employee/all employees is selected Add Priority icon will be disabled.
        $.ajax({
            type: "POST",
            url: "/EmployeePriority/GetEmployeePriority",
            data: { 'empId': empId },
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });
    }

    //function to delete the record from Priority list
    function deleteEmployeePriority(empid, PID)
    {
        $("#delete-confirm").dialog({
            resizable: false,
            modal: true,
            buttons: {
                "Yes": function () {
                    $(this).dialog("close");
                    $.ajax({
                        type: "POST",
                        url: "/EmployeePriority/DeleteEmployeePriority",
                        data: { 'empId': empid, 'PID': PID },
                        dataType: "json",
                        success: successFunc,
                        error: errorFunc
                    });
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    //Then down arrow is clicked this function will be executed to swap the priority with the record below
    //the current record(for which down arrow is pressed).
    function decreasePriority(_this, empid, currPriority)
    {
        var nextRowIndex = $(_this).parent().parent().index() + 2;
        var nextRow = $('#tblEmpPriority tr').eq(nextRowIndex);
        var nextPriority=nextRow.children('td').eq(columns.PRIORITY).text();
        $.ajax({
                type: "POST",
                url: "/EmployeePriority/SwapEmployeePriority",
                data: { 'empId': empid , 'firstPriority' : currPriority, 'secondPriority' : nextPriority},
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
    }

    //Then up arrow is clicked this function will be executed to swap the priority with the record above
    //the current record(for which up arrow is pressed).
    function increasePriority(_this, empid, currPriority)
    {
        var prevRowIndex = $(_this).parent().parent().index();
        var prevRow = $('#tblEmpPriority tr').eq(prevRowIndex);
        var prevPriority=prevRow.children('td').eq(columns.PRIORITY).text();
        $.ajax({
                type: "POST",
                url: "/EmployeePriority/SwapEmployeePriority",
                data: { 'empId': empid , 'firstPriority' : currPriority, 'secondPriority' : prevPriority},
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
    }

    //This function will be called to open assignment dialog when we click on "Assign Priority" button.
    function assignEmployeePriority(_this, PID)
    {
        var rowIndex = $(_this).parent().parent().index() + 1;
        var currentRow = $('#tblEmpPriority tr').eq(rowIndex);
        var assignedFrom = currentRow.children('td').eq(columns.EMPNAME).text();
        var priority = currentRow.children('td').eq(columns.PRIORITY).text();
        var issueNumber = currentRow.children('td').eq(columns.ISSUENO).text();
        var issueStatus = currentRow.children('td').eq(columns.STATUS).text();
        $("#txtAssignPID").val(PID);
        $("#txtIssueNumber").val(issueNumber);
        $("#txtPriority").val(priority);
        $("#txtAssignFrom").val(assignedFrom);
        $("#txtAssignStatus").val(issueStatus);
        $('#AssignTo').val("")
        $("#txtAssignReason").val("");
        $("#errorMessage").text("");
        $("#dlgAssignPriority").dialog("open");
    }

    //This function will be executed to render the content in the grid.
    function successFunc(data, status)
    {
        data = JSON.parse(data);
        var totalPriority=data.length;
        var counter=0;
        var sortedCol = $('#tblEmpPriority').dataTable().fnSettings().aaSorting[0][0];
        var sortedDir = $('#tblEmpPriority').dataTable().fnSettings().aaSorting[0][1];
        $('#tblEmpPriority').DataTable(
        {
            destroy: true,
            data: data,
            scrollY:250,
            fnDrawCallback: redrawPriorityButton,
            aaSorting : [[sortedCol, sortedDir]],
            columns: [
                {  "data": "EMPNAME",
                   "width": "150px"
                },
                {  "data": "PRIORITY"},
                {  "data": "ISSUENO",
                    "render": function (issueno)
                    {
                        var result = '<a target="_blank" href="https://development.atlasdev.com/Issue_View.asp?IssueNbr=' + issueno + '">'+ issueno +'</a>';
                        return result;
                    }

                },
                {
                    "data": "SUBJECT",
                    "width": "150px"
                },
                {
                    "data": "STATUS"
                },
                {  "data": "DEVDUEDATE",
                    "render": function (devdue)
                    {
                        var date = new Date(devdue);
                        devdue = date.getMonth() + "/" + date.getDate() + "/" + date.getFullYear();
                        return devdue;
                    },
                    "searchable":false,
                    "sortable":true

                },
                {  "data": "QADUEDATE",
                    "render": function (qadue)
                    {
                        var date = new Date(qadue);
                        qadue = date.getMonth() + "/" + date.getDate() + "/" + date.getFullYear();
                        return qadue;
                    },
                    "searchable":false,
                    "sortable":true
                },
                {
                    "data": "PID",
                    "searchable": false,
                    "sortable": false,
                    "render": function (PID) {
                        var empid = $('#Employees').val();
                        var result = '@Html.ActionLink("View", "ViewPriority", "EmployeePriority", new { @empId = "viewempid", @PID = "viewPID" }, new{@class="viewbutton", title="View Priority"})';
                        result = result.replace('viewempid', empid);
                        result = result.replace("viewPID", PID);
                        return result;
                    }

                },
                {  "data": "PRIORITY",
                    "searchable":false,
                    "sortable":false,
                    "render": function (priority)
                    {
                        counter++;
                        var empid = $('#Employees').val();
                        if ((empid == "-1") ||(counter==totalPriority))
                        {
                            var result ='<span id="spnDownArrow_'+ empid + "_" + priority  + '" class="disabledownArrow"></span>';
                        }
                        else
                        {
                            var result ='<span title="Decrease Priority" id="spnDownArrow_'+ empid + "_" + priority  + '" onclick="decreasePriority(this,' + empid + "," + priority + ')" class="downArrow"></span>';
                        }
                        return result;
                    }
                },
                {
                    "data": "PRIORITY",
                    "searchable": false,
                    "sortable": false,
                    "render": function (priority)
                    {
                        var empid = $('#Employees').val();
                        if ((empid == "-1") || (counter==1))
                        {
                            var result ='<span id="spnUpArrow_'+ empid + "_" + priority  + '" class="disableupArrow"></span>';
                        }
                        else
                        {
                            var result ='<span title="Increase Priority" id="spnUpArrow_'+ empid + "_" + priority  + '" onclick="increasePriority(this,' + empid + "," + priority + ')" class="upArrow"></span>';
                        }

                        return result;
                    }
                },
                {
                    "data": "PID",
                    "searchable": false,
                    "sortable": false,
                    "render": function (PID)
                    {
                        var empid = $('#Employees').val();
                        var result = '@Html.ActionLink("Edit", "EditPriority", "EmployeePriority", new { @empId = "editempid", @PID = "editPID" }, new{@class="editbutton", title="Edit Priority"})';
                        result = result.replace('editempid', empid);
                        result = result.replace("editPID", PID);
                        return result;
                    }
                },
                {
                    "data": "PID",
                    "searchable": false,
                    "sortable": false,
                    "render": function (PID)
                    {
                        var empid = $('#Employees').val();
                        var result ='<span title="Delete Priority" id="spnDelEmpPriority_'+ PID  + '" onclick="deleteEmployeePriority(' + empid + "," + PID + ')" class="deletebutton"></span>';
                        return result;
                    }
                },
                {
                    "data": "PID",
                    "searchable": false,
                    "sortable": false,
                    "render": function (PID) {
                        var result = '<span title="Assign Priority" id="spnAssignEmpPriority_' + PID + '" onclick="assignEmployeePriority(this' + "," + PID + ')" class="assignbutton"></span>';
                        return result;
                    }
                }
          ]
        });
    }

    //This function will be executed if there is an error while retriving employee details
    function errorFunc()
    {
        $("#dlgErrorMessage").dialog({
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    //This function will be executed whenever the grid data is changed or sorting column is changed to enable/disable priority arrows.
    function redrawPriorityButton()
    {
        var empid = $('#Employees').val();
        var totalRows = $("#tblEmpPriority > tbody > tr").length;
        for (var index=1;index<=totalRows;index++)
        {
            var row = $('#tblEmpPriority tr').eq(index);
            var priority = row.children('td').eq(columns.PRIORITY).text();
            var downArrowtd=row.children('td').eq(columns.DECREASE);
            var upArrowtd=row.children('td').eq(columns.INCREASE);
            var spnUpArrow="";
            var spnDownArrow ="";
            if ((empid == "-1") || (totalRows==1))
            {
                spnUpArrow ='<span id="spnUpArrow_'+ empid + "_" + priority  + '" class="disableupArrow"></span>';
                spnDownArrow ='<span id="spnDownArrow_'+ empid + "_" + priority  + '" class="disabledownArrow"></span>';
            }
            else
            {
                if (index==1)
                {
                    spnUpArrow ='<span id="spnUpArrow_'+ empid + "_" + priority  + '" class="disableupArrow"></span>';
                    spnDownArrow ='<span title="Decrease Priority" id="spnDownArrow_'+ empid + "_" + priority  + '" onclick="decreasePriority(this,' + empid + "," + priority + ')" class="downArrow"></span>';
                }
                else if (index==totalRows)
                {
                    spnUpArrow ='<span title="Increase Priority" id="spnUpArrow_'+ empid + "_" + priority  + '" onclick="increasePriority(this,' + empid + "," + priority + ')" class="upArrow"></span>';
                    spnDownArrow ='<span id="spnDownArrow_'+ empid + "_" + priority  + '" class="disabledownArrow"></span>';
                }
                else
                {
                    spnUpArrow ='<span title="Increase Priority" id="spnUpArrow_'+ empid + "_" + priority  + '" onclick="increasePriority(this,' + empid + "," + priority + ')" class="upArrow"></span>';
                    spnDownArrow ='<span title="Decrease Priority" id="spnDownArrow_'+ empid + "_" + priority  + '" onclick="decreasePriority(this,' + empid + "," + priority + ')" class="downArrow"></span>';
                }
            }
            downArrowtd.empty();
            upArrowtd.empty();
            downArrowtd.html(spnDownArrow);
            upArrowtd.html(spnUpArrow);
         }
     }
</script>

<table>
    <tr>
        <td>
            Employee Name : @Html.DropDownList("Employees", Model.lstEmployees, "Select an employee", new { onchange = "getEmployeePriority(this.value)" })
        </td>
        <td>
            @Html.ActionLink("Add Priority", "AddPriority", null, new { @id = "addPriority", @class = "disabledaddbutton", title = "Add Priority" })
        </td>

    </tr>

</table>
<br /><br />
<div style="border:1px solid;padding:5px;width:950px;">
    <table id="tblEmpPriority" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Issue #</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Dev Due</th>
                <th>QA Due</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div id="delete-confirm" title="Delete Priority?" style="display:none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<div id="dlgAssignPriority" title="Assign Priority">
    <table>
        <tr style="display:none">
            <td>
                PID
            </td>
            <td>
                <input type="text" name="txtAssignPID" id="txtAssignPID" class="text ui-widget-content ui-corner-all" />
            </td>
        </tr>
        <tr>
            <td>
                Issue Number
            </td>
            <td>
                <input type="text" name="txtIssueNumber" id="txtIssueNumber" readonly="readonly" class="text ui-widget-content ui-corner-all" />
            </td>
        </tr>
        <tr>
            <td>
                Priority
            </td>
            <td>
                <input type="text" name="txtPriority" id="txtPriority" readonly="readonly" class="text ui-widget-content ui-corner-all" />
            </td>
        </tr>
        <tr>
            <td>
                Assign From
            </td>
            <td>
                <input type="text" name="txtAssignFrom" id="txtAssignFrom" readonly="readonly" class="text ui-widget-content ui-corner-all" />
            </td>
        </tr>
        <tr>
            <td>
                Assign To
            </td>
            <td>
                @Html.DropDownList("AssignTo", Model.lstEmployees.Where(item=> (item.Value != "-1")), "Select an employee" )
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <input type="text" name="txtAssignStatus" id="txtAssignStatus" class="text ui-widget-content ui-corner-all" />
            </td>
        </tr>
        <tr>
            <td>
               Reason
            </td>
            <td>
                <textarea name="txtAssignReason" id="txtAssignReason" class="text ui-widget-content ui-corner-all"></textarea>
            </td>
        </tr>
    </table>
    <p id="errorMessage" style="color:red;"></p>
</div>
<div id="dlgErrorMessage" title="Error" style="display:none;">
    <p><span class="ui-icon ui-icon-notice" style="float:left; margin:0 7px 20px 0;"></span>Oops! Something went wrong.</p>
</div>